/* Container for the entire page */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
/* Container for the item details section */
.itemContainer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex: 1;
    align-items: flex-start;
}
  
/* Style for the item image */
.itemImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
}
  
/* Container for item details */
.itemDetails {
    display: flex;
    flex-direction: column;
    flex: 1;
}
  
/* Style for item name */
.itemName {
    font-size: 24px;
    margin-bottom: 10px;
}
  
/* Style for item price */
.itemPrice {
    font-size: 20px;
    margin-bottom: 10px;
}
  
/* Style for item description */
.itemDescription {
    margin-bottom: 20px;
}
  
/* Common style for buttons */
.favoritesButton, .cartButton {
    padding: 2px 6px; /* Smaller button size */
    margin-bottom: 6px; /* Adjust margin for smaller size */
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 4px; /* Slightly rounded corners */
    font-size: 12px; /* Smaller font size */
    width: auto; /* Adjust button width to content */
}
  
/* Background color for favorites button */
.favoritesButton {
    background-color: #011526; /* Dark blue color for favorites button */
}
  
/* Background color for cart button */
.cartButton {
    background-color: #ff4800; /* Orange color for cart button */
}
